body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 150px;
  transition: all 500ms;
}

button:hover {
  background-color: blue;
  color: green;
  transform: rotate(360deg);
  box-shadow: 10px 10px 20px green;
}

.loop {
  animation: loop 100s infinite;
}

@keyframes loop {
  50% {
    transform: scale(200);
  }
}