*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    display: flex;
    justify-content: center;
    padding: 64px;
}

form{
    background-color: blueviolet;
    width: 500px;
    color: white;
    padding: 24px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

fieldset{
    padding: 8px;
}

fieldset label{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    gap: 8px;
}